body {
  font-family: "Inter", sans-serif;
  background-color: #2F384E;
  margin: 0;
  padding: 0;
}

h2, h4 {
  font-family: "Inter", sans-serif;
  color: white;
  margin-top: 0;
}

#todayButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#oneDayAgoButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: -190px;
  transition: background-color 0.3s ease;
  float: left;
}

button {
  background-color: #0074cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 5px;
}

#todayButton:hover {
  background-color: #0056b3;
}

.bigger-input {
  width: 200px;
  height: 40px;
  font-size: 16px;
  padding: 8px;
}

.bigger-button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  padding: 4px 10px;
}
.ui.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ui.segment {
  color: white;
  background-color: #2F384E;
  border-radius: 12px; /* Rounded edges */
  padding: 20px;
}

.ui.form {
  color: white;
  background-color: #2F384E;
}

.ui.form .field>label {
  color: white !important;
}

.ui.form .inline.field>label,
.ui.form .inline.field>p,
.ui.form .inline.fields .field>label,
.ui.form .inline.fields .field>p,
.ui.form .inline.fields>label {
  display: inline-block;
  width: auto;
  margin: 0;
  vertical-align: baseline;
  font-size: 0.92857143em;
  font-weight: 700;
  color: white;
  text-transform: none;
}

.ui.checkbox input.hidden+label {
  cursor: pointer;
  user-select: none;
  color: white;
}

.ui.form .two.fields>.field,
.ui.form .two.fields>.fields {
  padding-top: 10px !important;
  width: 48%; /* Adjusted width for spacing */
  margin-bottom: 10px; /* Spacing between fields */
}

.ui.form .two.fields>.field:last-child,
.ui.form .two.fields>.fields:last-child {
  margin-right: 0; /* Remove margin-right for the last box */
}

.inline.fields .header {
  width: 250px !important;
}

.ui.button#submit {
  background-color: #21ba45;
  color: white;
  border-radius: 8px; /* Rounded edges */
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
}

.ui.button#submit:hover {
  background-color: #16ab3b;
}

.ui.button#copy {
  background-color: #2185d0;
  color: white;
  border-radius: 8px; /* Rounded edges */
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
}

.ui.button#copy:hover {
  background-color: #1678c2;
}

textarea#output {
  width: 100%;
  height: 150px;
  border-radius: 8px; /* Rounded edges */
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  resize: vertical;
}
