body {
  font-family: "Inter", sans-serif;
  color: white;
  background-color: #2F384E;
}

h2, h4 {
  font-family: "Inter", sans-serif;
  color: white;
}


label {
  color: white;
}

#todayButton {
  background-color: #274cac;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  float: left;
}

#oneDayAgoButton {
  background-color: #274cac;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: -190px;
  transition: background-color 0.3s ease;
  float: left;
}

.bigger-input {
  width: 200px;
  height: 40px;
  font-size: 16px;
  padding: 8px;
}

.bigger-button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  padding: 4px 10px;
}

.ui.container {
  margin-top: 20px;
}

.ui.segment {
  background-color: #2F384E;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div.field {
  color: white;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

h4.ui.dividing.header {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}

.field {
  margin-bottom: 20px;
}

.ui.selection.search.dropdown {
  width: 100%;
}

button {
  background-color: #0074cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 5px;
}

button#addInput,
button#addInput2 {
  background-color: #0074cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

button#removeInput,
button#RemoveInput2 {
  background-color: #FF0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border: 1px solid #182238;
  resize: none;
}

.ui.button#submit {
  background-color: #21ba45;
}

