body {
  font-family: "Inter", sans-serif;
  background: #181A23; 
  color: #E0E0E0; 
}

h2, h4.ui.dividing.header {
  color: #FFFFFF !important;
  font-family: "Inter", sans-serif;
  font-size: 24px; 
  margin-bottom: 20px; 
  font-weight: 600; 
  text-align: left; 
}

h2 {
  font-size: 24px;
  color: #2c3e50;
  font-weight: 600;
  margin-bottom: 20px;
  border-bottom: 2px solid #ecf0f1;
  padding-bottom: 10px;
  transition: all 0.3s ease;
}

h2:hover {
  color: #2980b9;
  border-bottom: 2px solid #2980b9;
}

button, #todayButton {
  background-color: #1A73E8; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover, #todayButton:hover {
  background-color: #1558A3;
}

.ui.container {
  margin-top: 20px;
}

.ui.segment {
  color: white;
  background-color: #2A2F40;
  border: 1px solid #444;
  border-radius: 10px;
}

.ui.form {
  color: white;
}

.ui.form .field > label {
  color: #FFFFFF !important;
}

/* Added margin-bottom to the fields for spacing */
.ui.form .field {
  margin-bottom: 20px; /* Space between fields */
}

input[type="text"], 
input[type="url"], 
input[type="date"], 
input[type="time"], 
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #555; 
  border-radius: 8px;
  background-color: #2A2F40; 
  color: #DDD; 
  font-size: 16px;
}

textarea::placeholder, 
input::placeholder {
  color: #B0B0B0; 
}

.ui.form .field input[type="text"], 
.ui.form .field input[type="url"], 
.ui.form .field input[type="date"], 
.ui.form .field input[type="time"], 
.ui.form .field textarea {
  background-color: #2A2F40 !important; 
  border-color: #555 !important; 
  color: #DDD !important; 
}

textarea {
  min-height: 120px;
  resize: none;
}

/* Button styling */
button {
  background-color: #1A73E8; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

button:hover {
  background-color: #1558A3; 
}

button.remove-incident {
  background-color: #FF4C4C; 
}

button.remove-incident:hover {
  background-color: #CC3939; 
}

/* More space between text input fields */
input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #555;
  border-radius: 8px;
  background-color: #2A2F40; 
  color: #DDD; 
  font-size: 16px;
  margin-bottom: 20px; /* Increased bottom margin */
}

button#addIncident {
  background-color: #1A73E8;
}

button#addIncident:hover {
  background-color: #1558A3;
}

textarea {
  min-height: 120px;
  resize: none;
}
